#top-menu-wrapper {
  display: flex;
  padding: 20px;
}

.icon{
  color: #ef4036;
  font-size: 40px;
  flex: 0;;
}

#top-menu {
  background-color: white;
  padding: 20px;
}

#top-menu a {
  text-decoration: none;
  color: black;
}

#navigation-wrapper{
  position: absolute;
  top: 20px;
  left: 20px;
}

.disable-display {
  display: none;
}

.hide-visibility {
  visibility: hidden;
}

#close-menu-icon-wrapper {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 10px;
  background-color: rgba(62, 108, 188, 30%);
}

#top-menu li {
  font-size: 25px;
  list-style: none;
  border-bottom: 1px solid black;
  margin: 20px 0px 20px 0px;
  padding: 0px 10px 0px 10px;
}

#top-menu li:first-child {
  margin-top: 0px;
}

#top-menu li:last-child {
  margin-bottom: 0px;
}

.imagem-logo{
  display: flex;
  justify-content: center;
  padding: 0px 10px 10px 10px;
  margin: 0px 0px 0px 20px;
  flex: 10;
}

.imagem-logo img{
 width: 350px;
 height: 130px;
}

.barra-navegacao{
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
  
}

.btn-space{
  display: flex;
}

.button-style{
  display: flex;
  width: 160px; 
  height: 40px;
  margin: 0px;
  padding: 0px 2px 0px 5px;
  border: 0px;
  font-size: 18px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.btn-orientation{
  display: flex;
  align-items: center;
  background-color: #ef4036;
  color: white;
  padding: 8px;
  margin: 0px 5px 0px 0px;
  border-radius: 5%;
  font-family: sans-serif;
}

body{
  background-image: url(imagens/background.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(62, 108, 188);
}

/* texto-em-construcao esta em uso nas paginas comunidades e eventos */
.texto-em-construcao{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #606163;
  padding: 10px;
  margin: 0;
  background-color: rgb(243, 243, 243, 35%);
}

.pokeimg {
  width: 60%;
}

.pokecard {
  background-color: rgba(62, 108, 188, 80%);
  border-radius: 18%;
  align-items: center;
  color: white;
  font-size: 19px;
  width: 15%;
  min-height: 235px;
  float: left;
  margin: 10px;
  padding: 1em 1em 2em 2em;
}

.pokelist {
  border-radius: 5%;
  font-size: 80%;
  width: 80%;
  float: left;
  padding: 1em;
  background: rgba(99, 99, 99, 0.7);
}

.pokecard:hover {
  background: url('imagens/pokebola.png');
  background-size: 150%;
  /* color: #FFD700; */
}

.percent-information{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.modal_background {
  /* background: url('imagens/pokebola-aberta.png'); */
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.5);
}

.modal_background .modal_pokemon {
  background: url('imagens/pokebola-aberta.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 450px;
  height: 500px;
}
.modal_pokemon_content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 100%;
}
.pokeimg-modal{
  z-index: 999;
}

.pokelist-modal{
  width: 12%;
  background: rgba(164, 10, 10, 0.5);
  border-radius: 10px;
  padding: 1.4em;
  line-height: 1em;
  display: block;
  color: white;
  position: absolute;
  left: 31%;
}

.miniaturaPokemon-modal{
  width: 262px;
}

