
.logo{
    display: flex;
    justify-content: center;
}
    
body {
    background-image: url(imagens/background.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(62, 108, 188);
}

.botoes-todos{
    display: flex;
    justify-content: space-evenly;
           
}

.buttons{
    background-color: rgba(62, 108, 188, 80%);
    border-radius: 50%;
    padding: 0; 
    border: 0;
   
}

.buttons-content{
    display: flex;
    text-decoration: none;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 470;
    font-size: 19px;

}

.buttons:hover{
    background-color:  #2a5293;
}

.texto{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #606163;
   
}

p{
    padding: 10px;
    margin: 0;
    background-color: rgb(243, 243, 243, 35%);
    
    

}
