body {
    background-image: url(imagens/background.png);
    background-size: cover;
}

.button{
    display: flex;
    color: cornflowerblue;
    font-size: large;
    align-items: center;
}

.logo{
display: flex;
justify-content: center;
}

