body {
    background-image: url(imagens/background.png);
    background-size: cover;
}

.button{
    display: flex;
    color: white;
    font-size: large;
    align-items: center;
    background-color:  rgba(56, 106, 187, 4);
}

.button:hover{
    background-color:  #2a5293;
}


.logo{
display: flex;
justify-content: center;
}
